<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reducir el nivel de logs para apache HHTP Client -->
    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.http.wire" level="WARN"/>

    <logger name="com.intuit.karate" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>